<center>
<img src="../../img/ods_stickers.jpg" />
    
## [mlcourse.ai](mlcourse.ai) â€“ Open Machine Learning Course 
Author: Arina Lopukhova (@erynn). Edited by [Yury Kashnitskiy](https://yorko.github.io) (@yorko). This material is subject to the terms and conditions of the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license. Free use is permitted for any non-commercial purpose.

<h1><center>Assignment #1. Fall 2018</center></h1>
<h2><center>Exploratory data analysis of Olympic games with Pandas</center></h2>

__There are ten questions about [120 years of Olympic history: athletes and results](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results/version/2) dataset in this task. Your task is to fill in the missing Python code and choose answers in [this web-form](https://docs.google.com/forms/d/179HYvlF_0x435CWdu2aOtR9a3flh0YCQXXNXhXaKw2M).__

Download the file `athlete_events.csv` from [Kaggle page](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results). The dataset has the following features (copied from Kaggle):

- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [2]:
import pandas as pd

In [3]:
# Change the path to the dataset file if needed. 
PATH = '../../mlcourse.ai/data/athlete_events.csv'

In [17]:
df = pd.read_csv(PATH)
df.sample(5)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
16575,8889,Ernest Henry Bayer,M,23.0,190.0,77.0,United States,USA,1928 Summer,1928,Summer,Amsterdam,Rowing,Rowing Men's Coxless Fours,Silver
66110,33827,Pawe Fajdek,M,27.0,186.0,126.0,Poland,POL,2016 Summer,2016,Summer,Rio de Janeiro,Athletics,Athletics Men's Hammer Throw,NaN
260649,130430,"Katarina ""Kati"" Wilhelm",F,33.0,173.0,60.0,Germany,GER,2010 Winter,2010,Winter,Vancouver,Biathlon,Biathlon Women's 12.5 kilometres Mass Start,NaN
228288,114665,Ivo Stefanoni,M,24.0,165.0,55.0,Italy,ITA,1960 Summer,1960,Summer,Roma,Rowing,Rowing Men's Coxed Fours,Bronze
4013,2314,Markel Alberdi Sarobe,M,24.0,187.0,76.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Swimming,Swimming Men's 4 x 100 metres Freestyle Relay,NaN

In [5]:
df.columns

Index(['ID', 'Name', 'Sex', 'Age', 'Height', 'Weight', 'Team', 'NOC', 'Games',
       'Year', 'Season', 'City', 'Sport', 'Event', 'Medal'],
      dtype='object')

In [6]:
df.dtypes

ID          int64
Name       object
Sex        object
Age       float64
Height    float64
Weight    float64
Team       object
NOC        object
Games      object
Year        int64
Season     object
City       object
Sport      object
Event      object
Medal      object
dtype: object

In [22]:
df.Sport.value_counts()

Athletics                38624
Gymnastics               26707
Swimming                 23195
Shooting                 11448
Cycling                  10859
Fencing                  10735
Rowing                   10595
Cross Country Skiing      9133
Alpine Skiing             8829
Wrestling                 7154
Football                  6745
Sailing                   6586
Equestrianism             6344
Canoeing                  6171
Boxing                    6047
Speed Skating             5613
Ice Hockey                5516
Hockey                    5417
Biathlon                  4893
Basketball                4536
Weightlifting             3937
Water Polo                3846
Judo                      3801
Handball                  3665
Art Competitions          3578
Volleyball                3404
Bobsleigh                 3058
Tennis                    2862
Diving                    2842
Ski Jumping               2401
                         ...
Badminton                 1457
Nordic Combined           1344
Freestyle Skiing           937
Snowboarding               936
Synchronized Swimming      909
Baseball                   894
Rhythmic Gymnastics        658
Taekwondo                  606
Beach Volleyball           564
Triathlon                  529
Softball                   478
Curling                    463
Rugby Sevens               299
Golf                       247
Skeleton                   199
Tug-Of-War                 170
Rugby                      162
Trampolining               152
Polo                        95
Lacrosse                    60
Alpinism                    25
Military Ski Patrol         24
Cricket                     24
Croquet                     19
Motorboating                17
Racquets                    12
Jeu De Paume                11
Roque                        4
Basque Pelota                2
Aeronautics                  1
Name: Sport, Length: 66, dtype: int64

__1. How old were the youngest male and female participants of the 1996 Olympics?__

- 16 and 15
- 14 and 12 
- 16 and 12
- 13 and 11

In [7]:
df[(df['Year'] == 1996) & (df['Sex'] == 'M')].min()[3], \
df[(df['Year'] == 1996) & (df['Sex'] == 'F')].min()[3]

(14.0, 12.0)

__2. What was the percentage of male gymnasts among all the male participants of the 2000 Olympics? Round the answer to the first decimal.__

*Hint:* here and further if needed drop duplicated sportsmen to count only unique ones. 

- 0.2
- 1.5 
- 2.5
- 7.7

In [15]:
round(len(df[(df['Sex'] == 'M') & (df['Sport'] == 'Gymnastics')].ID.unique()) / 
      len(df[df['Year'] == 2000].ID.unique()), 1)

0.2

__3. What are the mean and standard deviation of height for female basketball players participated in the 2000 Olympics? Round the answer to the first decimal.__

- 178.5 and 7.2
- 179.4 and 10
- 180.7 and 6.7
- 182.4 and 9.1

In [31]:
df[(df['Sex'] == 'F') & (df['Sport'] == 'Basketball') & (df['Year'] == 2000)].Height.agg(['mean', 'std']).round(1)

mean    182.4
std       9.1
Name: Height, dtype: float64

__4. Find a sportsperson participated in the 2002 Olympics, with the highest weight among other participants of the same Olympics. What sport did he or she do?__

- Judo
- Bobsleigh 
- Weightlifting
- Boxing

In [81]:
df[df['Year'] == 2002].sort_values('Weight', ascending=False).iloc[0].Sport

'Bobsleigh'

__5. How many times did Pawe Abratkiewicz participate in the Olympics held in different years?__

- 0
- 1 
- 2
- 3

In [75]:
df[df['Name'] == 'Pawe Abratkiewicz']['Year'].value_counts()

1998    2
2002    2
1992    2
Name: Year, dtype: int64

__6. How many silver medals in tennis did Australia win at the 2000 Olympics?__

- 0
- 1 
- 2 
- 3

In [79]:
df[(df['Team'] == 'Australia') & (df['Year'] == 2000) & (df['Sport'] == 'Tennis') & (df['Medal'] == 'Silver')]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
262820,131504,Todd Andrew Woodbridge,M,29.0,178.0,75.0,Australia,AUS,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Men's Doubles,Silver
262831,131511,Mark Raymond Woodforde,M,34.0,183.0,80.0,Australia,AUS,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Men's Doubles,Silver

__7. Is it true that Switzerland won fewer medals than Serbia at the 2016 Olympics? Do not consider NaN values in _Medal_ column.__ 

- Yes 
- No

In [91]:
df[(df['Team'] == 'Switzerland') & (df['Year'] == 2016) & (~df['Medal'].isna())].count()[0], \
df[(df['Team'] == 'Serbia') & (df['Year'] == 2016) & (~df['Medal'].isna())].count()[0]

(11, 54)

__8. What age category did the fewest and the most participants of the 2014 Olympics belong to?__
- [45-55] and [25-35) correspondingly yep
- [45-55] and [15-25) correspondingly
- [35-45] and [25-35) correspondingly
- [45-55] and [35-45) correspondingly

In [192]:
participants = df[df['Year'] == 2014].groupby('Age').count().ID
participants

Age
15.0     10
16.0     24
17.0     58
18.0    130
19.0    142
20.0    206
21.0    280
22.0    361
23.0    396
24.0    420
25.0    395
26.0    384
27.0    363
28.0    376
29.0    282
30.0    242
31.0    201
32.0    142
33.0    135
34.0     74
35.0     82
36.0     70
37.0     30
38.0     25
39.0     14
40.0     18
41.0     14
42.0      6
43.0      3
44.0      3
45.0      1
46.0      1
47.0      1
48.0      1
55.0      1
Name: ID, dtype: int64

In [195]:
cat_15_25 = participants.iloc[0:11].sum()
cat_25_35 = participants.iloc[10:21].sum()
cat_35_45 = participants.iloc[20:31].sum()
cat_45_55 = participants.iloc[30:41].sum()

In [196]:
cat_15_25, cat_25_35, cat_35_45, cat_45_55

(2422, 2676, 266, 5)

__9. Is it true that there were Summer Olympics held in Lake Placid? Is it true that there were Winter Olympics held in Sankt Moritz?__

- Yes, Yes
- Yes, No
- No, Yes 
- No, No

In [206]:
df[(df['Season'] == 'Summer') & (df['City'] == 'Lake Placid')].count()[0], \
df[(df['Season'] == 'Winter') & (df['City'] == 'Sankt Moritz')].count()[0]

(0, 1657)

__10. What is the absolute difference between the number of unique sports at the 1995 Olympics and 2016 Olympics?__

- 16
- 24
- 26
- 34

In [220]:
len(df[df['Year'] == 2016].Sport.unique())

34