<center>
<img src="../../img/ods_stickers.jpg">
## Открытый курс по машинному обучению
<center>
Автор материала: Юрий Кашницкий, программист-исследователь Mail.Ru Group <br> 

Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

# <center>Домашнее задание № 1 (демо).<br> Анализ данных по доходу населения UCI Adult</center>

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным репозитория UCI [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) (качать данные не надо – они уже есть в репозитории). Для отправки решений используйте [онлайн-форму](https://docs.google.com/forms/d/1xAzU-5N6oEeR4UG8G44V6XL-Kbr4WYcPBG45Kijge2Y).**

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
np.set_printoptions(precision=2)
pd.set_option('precision', 2)

ModuleNotFoundError: No module named 'pandas'

In [2]:
data = pd.read_csv('../../data/adult.data.csv')
data.head()

NameError: name 'pd' is not defined

**1. Сколько мужчин и женщин (признак *sex*) представлено в этом наборе данных?**

In [11]:
data['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

**2. Каков средний возраст (признак *age*) женщин?**

In [12]:
data[data['sex'] == 'Female']['age'].mean().round(2)

36.86

**3. Какова доля граждан Германии (признак *native-country*)?**

In [1]:
(data[data['native-country'] == 'Germany'].count()[0] / data.count()[0] * 100).round(2)
data['native-country']

NameError: name 'data' is not defined

**4-5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год? **

In [14]:
data.groupby('salary')['age'].agg([np.mean, np.std])

         mean    std
salary
<=50K   36.78  14.02
>50K    44.25  10.52

**6. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [15]:
data[data['salary'] == '>50K'].groupby(['education']).count()['age']

education
10th              62
11th              60
12th              33
1st-4th            6
5th-6th           16
7th-8th           40
9th               27
Assoc-acdm       265
Assoc-voc        361
Bachelors       2221
Doctorate        306
HS-grad         1675
Masters          959
Prof-school      423
Some-college    1387
Name: age, dtype: int64

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Amer-Indian-Eskimo*.**

In [16]:
data[data['race'] == 'Amer-Indian-Eskimo'].groupby(['age', 'sex']).describe()[-1:]

         capital-gain                                   capital-loss       \
                count mean std  min  25%  50%  75%  max        count mean
age sex
82  Male          1.0  0.0 NaN  0.0  0.0  0.0  0.0  0.0          1.0  0.0

         ...    fnlwgt          hours-per-week                               \
         ...       75%      max          count mean std  min  25%  50%  75%
age sex  ...
82  Male ...   52921.0  52921.0            1.0  3.0 NaN  3.0  3.0  3.0  3.0


          max
age sex
82  Male  3.0

[1 rows x 40 columns]

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [17]:
# Женатые
data[(data['marital-status'].str.startswith('Married')) & (data['salary'] == '>50K')].count()[0]

6736

In [18]:
# Холостые
data[(~data['marital-status'].str.startswith('Married')) & (data['salary'] == '>50K')].count()[0]

1105

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [59]:
max_hpw = data['hours-per-week'].max()
poor = data[data['hours-per-week'] == max_hpw].groupby('salary').count()['hours-per-week'][0]
reach = data[data['hours-per-week'] == max_hpw].groupby('salary').count()['hours-per-week'][1]
workers = poor + reach
print('Всего', workers, 'человек работает', max_hpw, 'часов в неделю.')
print('Из них %s бедных (%.2f), %s богатых (%.2f).' % (poor, poor/workers*100, reach, reach/workers*100))

Всего 85 человек работает 99 часов в неделю.
Из них 60 бедных (70.59), 25 богатых (29.41).

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [63]:
data.groupby(['salary', 'native-country'])['hours-per-week'].mean()

salary  native-country
<=50K   ?                             40.16
        Cambodia                      41.42
        Canada                        37.91
        China                         37.38
        Columbia                      38.68
        Cuba                          37.99
        Dominican-Republic            42.34
        Ecuador                       38.04
        El-Salvador                   36.03
        England                       40.48
        France                        41.06
        Germany                       39.14
        Greece                        41.81
        Guatemala                     39.36
        Haiti                         36.33
        Holand-Netherlands            40.00
        Honduras                      34.33
        Hong                          39.14
        Hungary                       31.30
        India                         38.23
        Iran                          41.44
        Ireland                       40.95
        Italy                         39.62
        Jamaica                       38.24
        Japan                         41.00
        Laos                          40.38
        Mexico                        40.00
        Nicaragua                     36.09
        Outlying-US(Guam-USVI-etc)    41.86
        Peru                          35.07
                                      ...
>50K    France                        50.75
        Germany                       44.98
        Greece                        50.62
        Guatemala                     36.67
        Haiti                         42.75
        Honduras                      60.00
        Hong                          45.00
        Hungary                       50.00
        India                         46.48
        Iran                          47.50
        Ireland                       48.00
        Italy                         45.40
        Jamaica                       41.10
        Japan                         47.96
        Laos                          40.00
        Mexico                        46.58
        Nicaragua                     37.50
        Peru                          40.00
        Philippines                   43.03
        Poland                        39.00
        Portugal                      41.50
        Puerto-Rico                   39.42
        Scotland                      46.67
        South                         51.44
        Taiwan                        46.80
        Thailand                      58.33
        Trinadad&Tobago               40.00
        United-States                 45.51
        Vietnam                       39.20
        Yugoslavia                    49.50
Name: hours-per-week, Length: 82, dtype: float64